<script defer src="/theme-toggle.js"></script>
<div class="side">
  <h1 class="logo">Niche</h1>

  <ul class="side-list">
    <li>
        <a href="/profile/<%= session.username %>" class="create-button">
            <img src="/ICONS/profile.png" alt=""> My Profile
        </a>
    </li>
    <li>
      <a href="/" class="create-button">
        <img src="/ICONS/home.png" alt=""> Home
      </a>
    </li>

    <li>
        <a href="/explore" class="create-button">
            <img src="/ICONS/search.png" alt=""> Explore
        </a>
    </li>

    <li>
      <a href="/new" class="create-button">
        <img src="/ICONS/create.png" alt=""> Create
      </a>
    </li>
    <li>
      <a href="/liked" class="create-button">
        <img src="/ICONS/like.png" alt=""> Liked&nbsp;Posts
      </a>
    </li>
    <li>
      <a href="/myposts" class="create-button">
        <img src="/ICONS/profile.png" alt=""> My&nbsp;Posts
      </a>
    </li>

  </ul>
</div>
