<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesx.css">
</head>
<body>
    <section class="login">
        <div class="middle">
            <div class="image">
                <img src="roseate-02.jpeg" alt="Decorative Image">
            </div>
            <div class="right">
                <h1>Welcome to Niche</h1>
                <form action="/signup" method="POST">
                    <label for="uname">Username or E-mail</label><br>
                    <input type="text" id="uname" name="username" placeholder="Enter your username or E-mail" required><br>
                    <label for="pwd">Password:</label><br>
                    <input type="password" id="pwd" name="password" placeholder="Enter your Password" required><br>
                    <label for="pwd">Confirm Your Password:</label><br>
                    <input type="password" id="pwd" name="" placeholder="Enter your Password" required><br>
                    <input type="submit" value="Sign Up" style="margin-left: 50%; transform: translateX(-50%);">
                </form>
                <div class="line"></div>
                <h1 style="font-size: 10px;">Or</h1>
                <div class="socials">
                    <a href=""><img src="ICONS/google.png" alt=""></a>
                    <a href=""><img src="ICONS/apple.png" alt=""></a>
                    <a href=""><img src="ICONS/twitter.png" alt=""></a>   
                </div>
                <h1 style="font-size: 10px; color: rgb(138, 138, 138);">Already have an account? <span><a href="login.html" style="color: rgb(138, 138, 138);">Sign In</a></span></h1>
            </div>
        </div>
    </section>
    
</body>
</html>